{% extends 'wrapper.html' %}

{% load crispy_forms_tags %}


{% block wrapper %}
<h2 class="mb-5">Notes list</h2>

<div class="d-flex">
    <div class="col-6">
        {% if form %}
        <form class="form-inline" action="" method="GET">
            {{ form|crispy }}
            <button class="btn" type="submit">Search</button>
        </form>
        {% endif %}
    </div>
    <div class="col-6 d-flex justify-content-end">
        <a class='btn btn-outline-info mr-2' href="{% url 'notes-sort' pk=1 %}">New</a>
        <a class='btn btn-outline-info' href="{% url 'notes-sort' pk=2 %}">Old</a>
    </div>
</div>


{% if tags %}
<div class="panel-body">
    <ul>
        {% for tag in tags %}
        <li>
            <a href="{% url 'tagged' tag.slug %}">#{{tag.name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="card-columns mt-5">
    {% for object in object_list %}
    {% if not object.archive %}
    <div class="col mb-4">
        <div class="card">
            {% if object.image %}
            <img src="{{ object.image.url }}" class="card-img-top" alt="{{ object.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">{{ object.body|truncatechars:23 }}</p>
            </div>
            <div class="card-footer">
                <div class="mb-1">
                    <small class="text-muted">Up: {{ object.updated|date:"d M H:i" }}</small>
                </div>
                <div class="d-flex justify-content-between">
                    <a class='btn btn-secondary' href="{% url 'notes-detail' object.id %}">Open</a>
                    <a href="{% url 'notes-favorite' object.id %}" class='btn btn-outline-info mr-2'>
                        {% if object.favorite %}
                        Unfavorite
                        {% else %}
                        Favorite
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
