{% extends 'wrapper.html' %}

{% load crispy_forms_tags %}


{% block wrapper %}
<h2>Notes list</h2>

<form class="form-inline" action="" method="GET">
    {{ form|crispy }}
    <button class="btn" type="submit">Search</button>
</form>


<div class="card-columns mt-5">
    {% for object in object_list %}
    <div class="col mb-4">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">{{ object.body }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ object.created }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
